* {
  margin: 0;
  height: 100;
}
.bgimg-container {
  margin-bottom: 5em;
  background-image: url('img/bg2.png');
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 19px 10px 100px 30px rgb(5, 128, 185);
  animation: slider 15s infinite linear;
}

@keyframes slider{
  0% {
    background-image: url(img/bg2.png);
  }
  25% {
    background-image: url(img/bg3.jpeg);
  }
  50% {
    background-image: url(img/bg1.jpeg);
  }
  100% {
    background-image: url(img/bg2.png);
  }  
}

.inner-container {
  text-align: center;
  position: relative;
  font-family: "Bangers";
  font-size: 22px;
}
body {
  font-family: "Bangers";
  font-size: 22px;
  background-color: rgb(36, 36, 36);
  color: #f5f1f1;
  width: 100%;
  text-shadow: 5px 5px rgb(245, 4, 165);
}
.pp {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 135px;
  margin: 0em;
  padding: 1em;
}
span {
  padding: 10px;
}
.spaces {
  margin-bottom: 10px;
}

a.btn{
  text-decoration: none;
  color:#ffffff;
  padding: 10px 20px;
  border-radius: 25px;
}

.primary{
  background-color: rgb(245, 4, 165);  
}

.button {
  padding: 20px;
  transition: transform 250ms;
}
.button:hover {
  transform: translateY(-10px);
}
.logo {
  transition: transform 250ms;
}
.logo:hover {
  transform: translateY(-10px);
}
